<h1>Employee Component</h1>
<table class="table table-bordered">
    <thead>
       <tr>
            <th></th>
            <th></th>
            <th colspan="4" *ngFor="let h of horizon ">{{h}}</th>
        </tr>
        <tr >
                <th></th>
                <th></th>
                <th *ngFor="let m of month ">{{m}}</th>
        </tr>
    </thead>
<tbody *ngFor="let item of information | unique:'item_code'">
    <tr>
        <td rowspan="2">{{item.item_code}}</td>
        <td>kl</td>
        <td>kllnkl</td>
    </tr>
    

</tbody>
</table> 
